@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
  background-color: #231f1d;
  overflow-x: hidden;
}
*{
  font-family: 'Montserrat', sans-serif;

}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E9E6D5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d6d2c0;
}